*{
    margin: 0;
    font-family:"GC-Fodax-Demo", Tahoma;
    letter-spacing: 2.5px;
    font-weight: 500;
}
@font-face {
    font-family: "Negan-DEMO";
    src: url(./Negan-DEMO.otf);
}
@font-face {
    font-family: "GC-Fodax-Demo";
    src: url(./GC-Fodax-Demo.ttf);
}
section{
    width: 100%;
    height: 300vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
section>nav{
    height: 75vh;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: fixed;
    right: 10px;
    top: 70px;
    /* background-color: rgb(215, 220, 250); */
    /* border-radius: 60px 0 0 60px ; */
}
section>nav .bi{
    font-size: 40px;
}
nav>.item{
    position: relative;
}
nav>.item span{
    position: absolute;
    top: 13px;
    /* display: none; */
    opacity: 0;
    z-index: -1;
}
section>nav .item:hover span{
    animation: drag 400ms ease forwards;
}
@keyframes drag {
    from   {
        transform: translate(0px);
    }
    to{
        transform: translate(-50px);
        opacity: 1;
    }
}
.logo{
    font-size: 5rem;
    text-transform: uppercase;
    position:absolute;
    top: 0px;
    left: 20px;
    font-family: "Negan-DEMO",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}
 /* home */
.home-banner{
    height: auto;
    width: 100%;
    top: 300px;
    background: linear-gradient(40deg,azure,gainsboro);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    object-fit: contain;

}
.home-banner>.left{
    width: 40%;
    display: grid;
    place-items: center;

}
.home-banner>.rigth{
    h3{
        font-size: 2rem;
    }
    h1{
        font-size:  4rem;
    }
    p{
        font-size: 1.5rem;
    }
    
}
